{% extends 'customer/home.html' %}
{% block content %}
<h1>cart</h1>
{% for i  in cart_items %}
<div class="card">
  <div class="card-body">
    <img src="{{ i.product.image.url }}" alt="">
    <h5>{{i.product.product_name}}</h5>
    <p>{{i.product.price}}</p>
    
    
    <form action="{% url 'customer:remove_from_cart' i.product_id %}" method="post">
        {% csrf_token %}
        <button type="submit">DELETE</button>
    </form>
   
  </div>
</div>
{% endfor %}
<p>Total Quantity: {{ total_quantity }}</p>
<h3>GRAND TOTAL: {{ grand_total }}</h3>
{% endblock %}