{% extends 'customer/home.html' %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <h1>PRODUCTS</h1>
            {% for i in products %}
            <div class="card" style="width: 18rem;">
                <img src="{{ i.image.url }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ i.name }}</h5>
                    <p class="card-text">{{ i.description }}</p>
                    <p class="card-text">{{ i.price }}</p>
                    <form action="{% url 'customer:add_to_cart' i.id %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="product_id" value="{{ i.id }}">
                        <input type="hidden" name="quantity" value="1">
                        <button type="submit" class="btn btn-primary">Add to Cart</button>
                    </form>
                    <br>
                    <a href="{% url 'customer:cart' %}" class="btn btn-primary">View Cart</a>
                
                </div>
            </div><br>
            {% endfor %}
            </div>
            <div class="col-4"></div>
            </div>
    
                    
                    



</div>
{% endblock %}